{% extends "catalog/base.html" %}

{% block content %}
<div class="container text-start">
    <div class="row my-2">
        <h1>Название украшения - "{{ jewelry.name }}"</h1>
    </div>

     <div class="row my-2">
         <p><strong>Камни:</strong>
         {% for stone in jewelry.stone.all %}
            <a href="/stone/{{ stone.id }}">{{ stone.name }}</a>
         {% endfor %}
     </div>

     <img src="{{ jewelry.photo.url }}" alt="connect"
                                 style="max-height:200px">
    <a href="{{ jewelry.photo.url}}"
                               class="btn btn-primary"
                               target="_blank"> Показать</a>
    <div class="row my-2">
        <div class="col">
            <p><strong>Цена:</strong> {{ jewelry.price }} руб.</p>
        </div>
    </div>

    <div class="row my-2">
        <p><strong>Описание:</strong> {{ jewelry.description }}</p>
    </div>

    <div class="row my-2">
        <div class="col mx-2 bg-primary text-white">
            <p><strong>Форма:</strong> {{ jewelry.forma }}</p>
        </div>

            <div class="col mx-2 bg-primary text-white">
                <p><strong>Размер:</strong>
                    {% for size in jewelry.size.all %}
                            <a>{{ size.name }}</a>
                    {% endfor %}
            </div>

        <div class="col mx-2 bg-primary text-white">
            <p><strong>Фурнитура:</strong> {{ jewelry.accessories}}</p>
        </div>
    </div>
</div>
{% endblock %}
